<div class="overalls row">
    <div class="overall-item-info email-item col-md-3" ng-repeat="overall in $ctrl.overalls">
        <div class="overall-title small">{{overall.title}}</div>
        <div class="overall-amount large">
            <span class="black">{{overall.amount | number}}</span>
            <span ng-show="{{!!overall.percentage}}">({{overall.percentage}})</span>
        </div>
        <div class="increase small">
            <span class="glyphicon glyphicon-arrow-up green"></span>
            {{overall.precentageInLastWeek}} in last 7 Days
        </div>
    </div>
</div>
<div class="action-menu">
    <input class="main-checkbox" type="checkbox"/>
    <div class="search glyphicon glyphicon-search"></div>
    <custom-dropdown dropdown-data="$ctrl.groupDropdownData"></custom-dropdown>
    <custom-dropdown dropdown-data="$ctrl.statusesDropdownData"></custom-dropdown>
    <button type="button" class="btn btn-info new-campaign">
        <span class="glyphicon glyphicon-plus"></span>
        New Campaign
    </button>
</div>