compaigns-component .left {
    float: left;
}

compaigns-component .clear {
    clear: both;
}

compaigns-component .nav-tabs {
    padding: 20px 20px 0 20px;
    border-bottom: 2px solid #D0D5D8;
    background: #DBDFE4;
}

compaigns-component .nav-tabs > li {
    margin: 0 5px;
    background: #EDEFF2;
    border-radius: 4px 4px 0 0;
    border: none;
}

compaigns-component .nav-tabs > li a {
    color: #ADAEB0;
    display: inline-block;
    padding: 7px 15px 1px;
}

compaigns-component .nav-tabs > li a:hover {
    color: #2A73D5;
}

compaigns-component .nav-tabs > li a:hover {
    border-color: transparent;
}

compaigns-component .nav-tabs > li:first-child {
    margin-left: 15px;
}

compaigns-component .nav-tabs > li.active a,
compaigns-component .nav-tabs > li.active > a:hover,
compaigns-component .nav-tabs > li.active > a:focus {
    border: 1px solid transparent;
    color: #2A73D5;
}

compaigns-component .nav-tabs > li a .tab-title {
    float: left;
    padding-top: 5px;
}

compaigns-component .nav-tabs > li a .tab-icon,
compaigns-emails .email-item-icon .email,
compaigns-emails .email-item-icon .support-icon {
    float: left;
    height: 36px;
    width: 36px;
    background: #C9CED2;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    margin-right: 5px;
    font-size: 18px;
    color: #ffffff;
}

compaigns-component .nav-tabs > li.active a .tab-icon,
compaigns-component .nav-tabs > li a:hover .tab-icon,
compaigns-emails .email-item-icon .email {
    background: #2A73D5;
}

compaigns-component .nav-tabs > li.active,
compaigns-component .nav-tabs > li.active,
compaigns-component .nav-tabs > li.active {
    background: #FFFFFF;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
}

compaigns-component compaigns-emails {
    display: block;
    background: #FFFFFF;
    font-family: proximanovaFontReg;
}

compaigns-emails .overalls {
    padding: 10px 20px;
    border-bottom: 2px solid #D0D5D8;
}

compaigns-emails .inner {
    display: table;
    margin: 0 auto;
}

compaigns-emails .small {
    font-size: 12px;
}

compaigns-emails .large {
    font-size: 24px;
}

compaigns-emails .black {
    color: #404040;
}

compaigns-emails .green {
    color: #31BC55;
}

compaigns-emails .email-item,
compaigns-emails .email-items {
    color: #A6AEB3;
}

compaigns-emails .email-item {
    padding: 0 10px 0 10px;
    margin: 15px 0;
}

compaigns-emails .overalls .overall-item-info {
    float: left;
    border-right: 1px solid #DDE1E5;
    line-height: 1.6em;
}

compaigns-emails .overalls .overall-item-info:last-child {
    border-right: none;
}

compaigns-emails .action-menu {
    background: #F4F5F7;
    border-bottom: 2px solid #D0D5D8;
    height: 70px;
}

compaigns-emails .action-menu .main-checkbox {
    margin: 22px 0 0 30px;
    float: left;
}

compaigns-emails .action-menu .search {
    border-radius: 4px;
    border: 2px solid #D0D5D8;
    width: 40px;
    height: 40px;
    float: left;
    background: #FFFFFF;
    margin: 13px 5px 0 20px;
    font-size: 18px;
    color: #404040;
}

compaigns-emails .action-menu .search:before {
    position: absolute;
    top: 8px;
    left: 7px;
}

compaigns-emails .action-menu custom-dropdown .dropdown {
    margin: 13px 5px 0;
}

compaigns-emails .action-menu .new-campaign {
    height: 40px;
    float: right;
    margin: 13px 30px 0 0;
    border-radius: 5px;
    background-color: #22A2ED;
}

compaigns-emails .action-menu .new-campaign span {
    top: 2px;
}

compaigns-emails .email-item-info {
    padding: 20px 10px 20px 20px;
    border-bottom: 2px solid #D0D5D8;
    height: 126px;
}

compaigns-emails .email-item-info .email-item-checkbox {
    margin-top: 30px;
}

compaigns-emails .email-item-icon {
    margin-left: 10px;
}

compaigns-emails .email-item-icon .email,
compaigns-emails .email-item-icon .support-icon {
    float: none;
}

compaigns-emails .email-item-icon .binder {
    width: 5px;
    height: 12px;
    margin-left: 15px;
    background: #BFD5F2;
}

compaigns-emails .email-item-icon .support-icon {
    background: #BFD5F2;
    color: #2A73D5;
}

compaigns-emails .main-info {
    margin: 5px 0 0 15px;
    font-family: proximanovaFontSemiBold;
}

compaigns-emails .main-info .title span:first-child {
    font-size: 18px;
}

compaigns-emails .main-info .type {
    color: #2A73D5;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
    padding: 3px;
}

compaigns-emails .main-info .type:first-child {
    padding-left: 0;
}

compaigns-emails .main-info .details {
    margin-top: 6px;
}

compaigns-emails .main-info .details .sub-type {
    height: 21px;
    width: 21px;
    display: inline-block;
    background: #A6AEB3;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 12px;
    vertical-align: bottom;
    cursor: default;
}

compaigns-emails .main-info .details .sub-type .content {
    font-size: 10px;
    display: inline-block;
    top: 2px;
    left: 2px;
    position: relative;
}

compaigns-emails .main-info .details .badge {
    display: inline-block;
    margin-left: 5px;
    padding: 4px 5px;
    color: #FFFFFF;
    border-radius: 5px;
}

compaigns-emails .main-info .details .badge.light-green {
    background: #2AD59F;
}

compaigns-emails .main-info .details .badge.blue {
    background: #2A73D5;
}

compaigns-emails .main-info .details .badge.orange {
    background: #F4A34C;
}

compaigns-emails .main-info .details .badge.light-red {
    background: #F44C70;
}

compaigns-emails .main-info .details .badge.light-grey {
    background: #A6AEB3;
}

compaigns-emails .main-info .details .author {
    margin-left: 5px;
    font-size: 12px;
}

compaigns-emails .email-item-info .first-part {
    border-right: 1px solid #DDE1E5;
}

compaigns-emails .email-item-info .second-part {
    padding: 0;
}

compaigns-emails .email-item-info .second-part .conversion-rate,
compaigns-emails .email-item-info .second-part .email-sends,
compaigns-emails .email-item-info .second-part .email-opens {
    border-right: 1px solid #DDE1E5;
    height: 84px;
    padding-top: 10px;
    line-height: 1.3em;
}

compaigns-emails .email-item-info .third-part {
    padding: 22px 0 22px 15px;
}

compaigns-emails .email-item-info .second-part .conversion-rate .amount span:first-child,
compaigns-emails .email-item-info .second-part .conversion-rate .amount-empty,
compaigns-emails .email-item-info .second-part .email-sends .amount,
compaigns-emails .email-item-info .second-part .email-sends .amount-empty,
compaigns-emails .email-item-info .second-part .email-opens .amount span:first-child,
compaigns-emails .email-item-info .second-part .email-opens .amount-empty {
    font-size: 16px;
    font-family: proximanovaFontBold;
}

compaigns-emails .email-item-info .second-part .conversion-rate .amount span:last-child,
compaigns-emails .email-item-info .second-part .email-opens .amount span:last-child {
    vertical-align: text-bottom;
}

compaigns-emails .email-item-info .second-part .conversion-rate progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 70px;
    height: 7px;
}

compaigns-emails .email-item-info .second-part .conversion-rate progress[value]::-webkit-progress-bar {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #D0D5D8;
}

compaigns-emails .email-item-info .second-part .conversion-rate progress[value]::-webkit-progress-value {
    border-radius: 10px 0 0 10px;
    background-color: #404040;
}

compaigns-emails .email-item-info .second-part {
    text-align: center;
}
