.dropdown {
    float: left;
    font-family: proximanovaFontBold;
    color: #404040;
}

.dropdown .btn-default {
    border: 2px solid #D0D5D8;
    height: 40px;
    width: 110px;
}

.dropdown .option-title {
    float: left;
}

.dropdown .option-badge {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px -3px 0;
    border-radius: 4px;
    border: 2px solid transparent;
    float: left;
}

.dropdown .option-badge.lite-green {
    background: #2AD59F;
}

.dropdown .option-badge.blue {
    background: #2A73D5;
}

.dropdown .option-badge.orange {
    background: #F4A34C;
}

.dropdown .option-badge.light-red {
    background: #F44C70;
}

.dropdown .option-badge.light-grey {
    background: #A6AEB3;
}

.dropdown .dropdown-menu > li > a {
    padding: 6px 12px;
    margin: 0 10px;
    cursor: pointer;
    overflow: hidden;
    min-width: 180px;
}

.dropdown .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #2A73D5;
    border-radius: 5px;
    color: #FFFFFF;
}

.dropdown .dropdown-menu > li > a:hover .option-badge,
.dropdown .dropdown-menu > li > a:focus .option-badge {
    border: 2px solid #FFFFFF;
    float: left;
}

.dropdown .dropdown-menu > li > a:hover .option-badge,
.dropdown .dropdown-menu > li > a:focus .option-badge {
    border: 2px solid #FFFFFF;
    float: left;
}

.dropdown .dropdown-menu > li > a .option-actions {
    float: right;
}

.dropdown .btn-default:hover,
.dropdown .btn-default:focus {
    background: #FFFFFF !important;
    color: #2A73D5 !important;
    border-color: #2A73D5 !important;
}