.dropdown,
.special-dropdown {
    float: left;
    font-family: proximanovaFontSemiBold;
    color: #404040;
}

.dropdown .btn-default,
.special-dropdown .main-button {
    border: 2px solid #DBDFE4;
    color: #404040;
    width: 120px;
    padding: 9px 0 9px 10px;
    text-align: left;
    border-radius: 6px;
    font-family: proximanovaFontSemiBold;
}

.dropdown .btn-default .caret,
.special-dropdown .btn-default .caret {
    float: right;
    margin: 7px 10px 0 0;
    border-top: 6px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.special-dropdown .secondary-button {
    border: 2px solid #DBDFE4;
    color: #404040;
    padding: 10px 0 15px 10px;
    border-left: 1px solid #DBDFE4;
}

.dropdown .option-title {
    float: left;
}

.dropdown .option-badge {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px -3px 0;
    border-radius: 4px;
    border: 2px solid transparent;
    float: left;
}

.dropdown .option-badge.lite-green {
    background: #2AD59F;
}

.dropdown .option-badge.blue {
    background: #2A73D5;
}

.dropdown .option-badge.orange {
    background: #F4A34C;
}

.dropdown .dropdown-menu > li,
.special-dropdown .dropdown-menu > li {
    margin: 10px 0;
}

.dropdown .dropdown-menu > li a.first-item {
    color: #2A73D5;
}

.dropdown .option-badge.light-red {
    background: #F44C70;
}

.dropdown .option-badge.light-grey {
    background: #A6AEB3;
}

.dropdown .dropdown-menu > li > a,
.special-dropdown .dropdown-menu > li > a {
    padding: 10px 12px;
    margin: 0 10px;
    cursor: pointer;
    overflow: hidden;
    min-width: 120px;
}

.dropdown .dropdown-menu > li > a:hover,
.special-dropdown .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.special-dropdown > li > a:focus {
    background-color: #2A73D5;
    border-radius: 5px;
    color: #FFFFFF;
}

.dropdown .dropdown-menu > li > a:hover .option-badge,
.dropdown .dropdown-menu > li > a:focus .option-badge {
    border: 2px solid #FFFFFF;
    float: left;
}

.dropdown .dropdown-menu > li > a:hover .option-badge,
.dropdown .dropdown-menu > li > a:focus .option-badge {
    border: 2px solid #FFFFFF;
    float: left;
}

.dropdown .dropdown-menu > li > a .option-actions {
    float: right;
}

.dropdown .btn-default:hover,
.dropdown .btn-default:focus {
    background: #FFFFFF !important;
    color: #2A73D5 !important;
    border-color: #2A73D5 !important;
}

.dropdown .dropdown-menu .create-new {
    margin: 0;
}

.dropdown .dropdown-menu .create-new span {
    background-image: url(/icons/icons_x1/createnew_iconx1.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.special-dropdown .main-button {
    width: 140px;
}

.special-dropdown .main-button:hover,
.special-dropdown .main-button:focus {
    background-color: #FFFFFF;
}

.special-dropdown .secondary-button:hover,
.special-dropdown .secondary-button:focus,
.special-dropdown.open .secondary-button {
    color: #FFFFFF !important;
    background: #2A73D5 !important;
    border-color: #2A73D5 !important;
    box-shadow: none;
}

.special-dropdown.open .main-button {
    border-color: #2A73D5 !important;
}

.special-dropdown > .btn + .dropdown-toggle {
    padding-left: 15px;
}

.special-dropdown .dropdown-menu {
    width: 184px;
}

@media (max-width:1480px) {
    .special-dropdown .main-button {
        width: 120px;
    }

    .special-dropdown > .btn + .dropdown-toggle {
        padding-left: 10px;
        padding-right: 4px;
    }

    .special-dropdown .dropdown-menu {
        width: 160px;
    }
}

@media (max-width:1380px) {
    .special-dropdown > .btn + .dropdown-toggle {
        padding-left: 8px;
        padding-right: 0;
    }

    .special-dropdown .dropdown-menu {
        width: 151px;
        min-width: 151px;
    }
}
