.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0;
}

.sidebar-nav .category {
    color: #ffffff;
    border-bottom: 2px solid #39393E;
    padding: 10px 0;
}

.sidebar-nav .category:last-child {
    border-bottom: none;
}

.sidebar-nav .category .category-title {
    padding-left: 28px;
    margin: 6px 0;
    font-family: proximanovaFontSemiBold;
    font-size: 13px;
}

.sidebar-nav .category ul.items {
    margin: 0;
    padding: 0 20px;
    font-family: proximanovaFontSemiBold;
}

.sidebar-nav .category .item > a {
    color: #656568;
    padding: 4px 8px;
    font-size: 13px;
}

.sidebar-nav .category .item > a:hover {
    color: #22A2ED;
    background-color: transparent;
}

.sidebar-nav .category .item.active > a,
.sidebar-nav .category .item > a:focus {
    background-color: #22A2ED;
    color: #ffffff;
    border-radius: 5px;
}

.sidebar-nav .nav-stacked > li + li {
    margin-top: 0;
}




