@font-face {
    font-family: proximanovaFontReg;
    src: url(fonts/proximanova-regular-webfont.ttf);
}

@font-face {
    font-family: proximanovaFontSemiBold;
    src: url(fonts/proximanova-semibold-webfont.ttf);
}

@font-face {
    font-family: proximanovaFontBold;
    src: url(fonts/proximanova-bold-webfont.ttf);
}

@font-face {
    font-family: proximanovaFontLight;
    src: url(fonts/proximanova-light-webfont.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 1080px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: proximanovaFontBold;
    margin: 0;
}

[data-toggle="tooltip"] {
    cursor: pointer !important;
}

.row {
    margin: 0;
}

.glyphicon.glyphicon-one-dot:before {
    content: "\25cf";
    font-size: 1.3em;
    color: #99E072;
}

.glyphicon {
    top: 0;
}

.app {
    font-family: proximanovaFontSemiBold;
}

.not-ready-yet {
    padding: 20px;
    color: #A6AEB3;
}

header {
    background: #2A73D5;
    height: 55px;
    color: #ffffff;
    min-width: 500px;
    width: 100%;
    font-family: proximanovaFontReg;
}

header .logo {
    width: 110px;
    height: 55px;
    margin: 2px 0 0 32px;
}

header user-info {
    float: right;
    min-width: 250px;
    height: inherit;
    padding-top: 8px;
}

header user-info .user-icon {
    float: left;
    height: 33px;
    width: 33px;
    background: #B499DF;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    margin-right: 13px;
    font-size: 18px;
    margin-top: 3px;
}

header user-info .user-info {
    float: left;
    margin-top: 1px;
}

header user-info .user-name {
    font-size: 16px;
}

header user-info .user-type {
    color: #97B3E6;
    margin-top: -2px;
    font-size: 13px;
}

header user-info .user-type span {
    margin-top: -5px;
}

header user-info .system-icons {
    padding: 10px 0 0 20px;
    float: left;
    cursor: pointer;
}

header user-info .system-icons span {
    display: inline-block;
}

header user-info .system-icons span.arrow-icon {
    background-image: url(icons/icons_x1/arrow_iconx1.png);
    width: 18px;
    height: 10px;
    margin-left: 15px;
    vertical-align: text-top;
}

header user-info .system-icons span.cog-icon {
    background-image: url(icons/icons_x1/cog_iconx1.png);
    width: 16px;
    height: 16px;
    margin-left: 15px;
}

.wrapper {
    padding-left: 190px;
    position: absolute;
    width: 100%;
    top: 55px;
    bottom: 0;
}

.sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    bottom: 0;
    margin-left: -190px;
    background: #222228;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-content-wrapper {
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
    min-width: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-wrapper {
    width: 190px;
    left: 190px;
    height: 100%;
}

.page-content-wrapper {
    left: 190px;
}

