<div class="dropdown" ng-if="!$ctrl.dropdownData.specialDropdown">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="
">
        {{$ctrl.dropdownData.initValue}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
        <li><a class="first-item">All</a></li>
        <li ng-repeat="item in $ctrl.dropdownData.items">
            <a ng-mouseenter="hover = true" ng-mouseleave="hover = false">
            <div ng-if="!!item.badge" class="option-badge {{item.badge}}"></div>
            <div class="option-title">{{item.title}}</div>
            <div class="option-actions" ng-if="!!item.editable" ng-class="{hidden: !hover}">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="glyphicon glyphicon-trash"></span>
            </div>
        </a></li>
        <li ng-if="!!$ctrl.dropdownData.separatedItem" role="separator" class="divider"></li>
        <li ng-if="!!$ctrl.dropdownData.separatedItem" class="create-new"><a><span class="plus-icon"></span> {{$ctrl.dropdownData.separatedItem}}</a></li>
    </ul>
</div>

<div class="btn-group special-dropdown" ng-if="$ctrl.dropdownData.specialDropdown">
    <button type="button" class="btn btn-default main-button">{{$ctrl.dropdownData.initValue}}</button>
    <button type="button" class="btn btn-default dropdown-toggle secondary-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="item in $ctrl.dropdownData.items">
            <a ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <div ng-if="!!item.badge" class="option-badge {{item.badge}}"></div>
                <div class="option-title">{{item.title}}</div>
                <div class="option-actions" ng-if="!!item.editable" ng-class="{hidden: !hover}">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
            </a></li>
    </ul>
</div>